*{
  padding: 0;
  margin-right: 0;
}


html { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

#kop-tekst{
    font-size: 18px;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}


.grid-container div {
    background-color: pink;
    padding: 8px;

}

.grid-container .navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 12;
    border: 1px solid black;
}

.grid-container .logo {    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 1px solid black;
}

#logo-foto {
    position: relative;
    border: 1px solid black;
    float: right;
    width: 60px;
}

.grid-container .smaak-dag {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid black;
}
.grid-container .popu-smaak {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    border: 1px solid black;
}
.grid-container .main {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 5;
    border: 1px solid black;
}
.info{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.info img{
  width: 50px;
}

.grid-container .bezorg {
    padding-bottom: 55px;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 12;
    border: 1px solid black;
}

.topname {
    float: left;
    font-size: 20px;
    color: red;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.topname2 {
    float: left;
    font-size: 18px;
    color: slateblue;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.navbar a:hover {
    color: white;
  }



/* registreren */

#reg-button {
    border: none;
    color: pink;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: slateblue;
    border: 2px solid slateblue;
    float: right;

}

#reg-button a:hover{
        color: white;
      }



.container-foto {
    position: relative;
    width:fit-content;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
 .textContact{
    display: flex;
    float: left;
  }

.fotoContact{
  background-image: url("../images/vanille.jfif");
  float: right;
  height: 167px;
  width: 50%;
  background-repeat: no-repeat;
}

  .image {
    border-radius: 50%;
    display: block;
    height: auto;
    width: 100px;
  }
  
  .overlay {
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
  }
  
  .container-foto:hover .overlay {
    border-radius: 50%;
    opacity: 1;
  }
  
  .icon {
    border-radius: 50%;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #000;
  }

  .loc1{
    display: flex;
    float: left;
  }

  .loc2{
    background-image: url("../images/vanille.jfif");
    float: right;
    height: 167px;
    width: 220%;
    background-repeat: no-repeat;
  }

.container-fotos {
    float: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 162px;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}
.container-fotos img {
width: 60px;
margin-left: 80px;
}

  .login{
    top: 10px;
    right: 25px;
    font-size: 50%;
    display: inline-block;
  }

  h3 {
    font-size: 15px;
    text-align: center;
  }

  .btn-danger{
    float: right;
    padding-right: 45px;
  }

  .buttonDiv{
    display: flex;
    justify-content: space-between;
  }



  /* bestel css */
  #svdd-bestel {
    border: none;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  #svdd-bestel {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  #svdd-bestel:hover {
    background-color: #e7e7e7;
  }

  #buttonBestel {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  #buttonBestel:focus {
    text-decoration: none;
  }
  
  #buttonBestel:hover {
    text-decoration: none;
  }
  
  #buttonBestel:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  #buttonBestel:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }

  #buttonBestel2 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  #buttonBestel2:focus {
    text-decoration: none;
  }
  
  #buttonBestel2:hover {
    text-decoration: none;
  }
  
  #buttonBestel2:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  #buttonBestel2:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
#buttondelete {
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
}

#buttondelete:active,
#buttondelete:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

#buttondelete:hover {
  border-bottom-style: none;
  border-color: #dadada;
}

#items{
  display: flex;
  
}

.bestel-image{
    border-radius: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* responsive */

  @media only screen and (max-width: 850px) {
    /* For IPAD AIR: */
    .grid-container {
      width: 100%;
      grid-template-columns: 1fr;
    }
    .container-foto {
      position: relative;
      width:fit-content;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      display: flex;
      justify-content: center;
    }
    .grid-container .logo {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 5;
      border: 1px solid black;
  }
    .logo {
      width: fit-content;
    }
    .main {
      width: 96%;
      font-size: 25px;
    }


    .container-fotos img{
      width: 100px;
      padding-right: 83px;
    }

    .navbar { 
      width: 100%;
      font-size: 12px;
      }
    body {
      width: 100%;
    }

    .topname2 {
      font-size: 35px;
      display: contents;
    }
    .topname {
      font-size: 30px;
    }
    #button {
      align-items: center;
      font-size: 25px;
      margin-top: 45px;
    }
    .smaakje {
      font-size: 20px;
    }

    h3 {
      font-size: 28px;
      text-align: center;
    }

    .image {
      border-radius: 50%;
      display: block;
      height: auto;
      width: 100px;
    }
    .overlay{
      border-radius: 50%;
      display: block;
      height: auto;
    }
    .icon{
      border-radius: 50%;
      display: block;
      height: auto;
    }
    .navbar a {
      font-size: 20px;
    }
    .container-fotos {
      width: 88px;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      margin-left: 39px;
    }
  }

  @media only screen and (max-width: 450px) {
    /* responsive for iphone xr */
    .grid-container {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .loc1 {
      font-size: 16px;
    }

    .loc6 {
      font-size: 12px;
    }
    .grid-container .bezorg {
    padding-bottom: 55px;
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 6;
    grid-column-end: 12;
    border: 1px solid black;
    }
    .grid-container .popu-smaak {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 29;
    border: 1px solid black;
    }


    .main {
      width: 96%;
      font-size: 25px;
    }

    .grid-container .navbar, .main, .logo, .popu-smaak, .bezorg, .smaak-dag, .topnav {
       width: 100%; 
      }
      .grid-container .logo{
      width: 100%;

    }  
.grid-container{
  display: flex;
  flex-direction: column;
}
    .topname2 {
      font-size: 19px;
      margin-left: 20px;
      margin-top: 19px;
      display: flex;
    }
    .topname {
      font-size: 25px;
    }
    #button {
      align-items: center;
      font-size: 25px;
      margin-top: 45px;
    }
    .smaakje {
      font-size: 20px;
    }

    h3 {
      font-size: 28px;
      text-align: center;
    }

    .image {
      border-radius: 50%;
      display: block;
      height: auto;
      width: 100px;
    }
    .overlay{
      border-radius: 50%;
      display: block;
      height: auto;
    }
    .icon{
      border-radius: 50%;
      display: block;
      height: auto;
    }
    .navbar a {
      font-size: 20px;
    }
    .navbar {
      display: flex;
      flex-direction: column;
    }
    .container-fotos {
      width: 88px;
      justify-content: flex-start;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 15px;
    }

    .container-fotos img{
      width: 100px;
      margin-left: 0px;
      padding-right: 0px;
    }

    .topnav{
      background-color: pink;
      justify-content: center;
      display: flex;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      border: 1px solid black;
      font-size: 24px;
      margin-bottom: 15px;
      padding-bottom: 15px;
      align-items: center
      }

      .topnav a{
        padding: 5px;
      }

      .info img {
        width: 92px;
      }

      #items {
        font-size: 15px;
      }
  }

/* CSS */


@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

